.absolute-content {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
}

.box-flag-and-unicode {
  position: relative;
  border-radius: 15px;
  min-height: 280px;
  padding: 20px;
  background-color: #fffafa;
  padding-bottom: 90px;
  box-shadow: -3px -3px 7px rgba(255, 255, 255, 3.62),
    3px 3px 7px rgba(0, 0, 0, 0.15);
  text-align: center;
  .country-name {
    color: #b5c1d4;
    font-size: 1.2em;
  }

  .block-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: inset -3px -3px 7px rgba(255, 255, 255, 10.62),
        inset 3px 3px 7px rgba(0, 0, 0, 0.15);
      width: 120px;
      height: 120px;

      border-radius: 50%;
      background: transparent;
      z-index: 99;
    }

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: inset -3px -3px 7px rgba(255, 255, 255, 0.4),
        inset 3px 3px 7px rgba(0, 0, 0, 0.15);
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background: transparent;
      z-index: 100;
    }
  }
  .unicode {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    color: #b5c1d4;
    bottom: 25px;
  }
}

.red-bg {
  background-color: #fffafa;
}
.grid-4 {
  width: 1000px;
  max-width: 95%;
  background: #fffafa;
  margin: auto;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin-top: 30px;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.container-unicode {
  margin-top: 150px;
}
.block-filter-search {
  width: 350px;
  max-width: 90%;
  margin: auto;
  margin-top: 25px;

  .input-searched {
    position: fixed;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    padding: 15px 15px;
    color: #b5c1d4;
    outline: none;
    width: 450px;
    max-width: 100%;
    z-index: 9999;
    border: none;

    background-color: #fffefe;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 2.62),
      3px 3px 7px rgba(0, 0, 0, 0.142);
  }
}

::placeholder {
  color: #b5c1d4 !important;
}

.nav-examples-creations {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;

    li {
      list-style-type: none;

      a {
        padding: 15px;
        display: block;
        text-decoration: none;
        color: #b5c1d4;
        transition: 0.3s ease-in-out;
        &:hover {
          color: #94a9ca;
        }
      }
    }
  }
}

//SELECT FORM
.section-form {
  width: 500px;
  margin: auto;
  .custom-select {
    outline: none;
    width: 100%;
    padding: 15px;
    background-color: #fff !important;
    box-shadow: -3px -3px 7px rgba(255, 255, 255, 3.62),
      3px 3px 7px rgba(0, 0, 0, 0.15);
    border: none;
    font-size: 1.2em;
    color: #94a9ca;
  }
}

select option {
  background-color: #fff;
  &:focus {
    outline: none;
  }
}

.input-country {
  outline: none;
  width: 80%;
  display: block;
  margin-top: 15px;
  border: 1px solid #dedede;
  background-position: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  color: #333;
  background-repeat: no-repeat;
  background-size: 20px;
}
