.nav-default {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  z-index: 999999999;
  padding: 0px 0; }
  .nav-default .flex-menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .nav-default .flex-menu .flex-items {
      width: 90%;
      max-width: 100%;
      display: flex;
      justify-content: flex-end; }

.bg-nav-white {
  background-color: #fff !important; }

.bg-nav-blue {
  background-color: #1229c1; }
