.icon-res-menu {
  position: absolute;
  right: 30px;
  top: 25px;
  z-index: 9999;
  padding: 10px;
  transition: transform .3s ease-in-out;
  transform: scale(1);
  cursor: pointer;
  font-size: 1.5em;
  .icon-menu-res {
    position: relative;
    width: 30px;
    height: 2.5px;
    margin-bottom: 5px;
    // width: 22px;
    // height: 1.5px;
    // margin-bottom: 4px

    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }
  &:hover {
    transform: scale(0.8);
  }
  
}

.nav-responsive {
  position: absolute;
  width: 220px;
  background: #fff;
  top: 0;
  // right: -1000px;
  text-align: center;
  padding: 25px 10px;
  z-index: 99999999;

  .list-items {
    width: 100%;
    margin-top: 10px;
    
  }
  .anchors {
    color: #1927a1 !important;
    font-size: 0.75em !important;   
    &:hover {
      color: #ec3b20 !important;
    }
  }

  .closed {
    cursor: pointer;
    border: 1px solid #1927a1;
    width: 40px;
    height: 40px;
    line-height: 50px;
    margin: auto;
    z-index: 99999;
    border-radius: 100%;
    margin-top: 25px;
    // transform: scale(1);
    // transition: .3s ease;
    &:hover {
        transform: scale(0.8);
    }
    .close{
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      
      overflow: hidden;
     
      &::before, &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: #1927a1;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
      &.hairline {
        &::before, &::after {
          height: 1px;
        }
      }
    }
  }

  @media screen and (max-width: 1068px) {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
  }
}

.hide {
  visibility: hidden;
  right: 0;
}

.show {
  visibility: visible;
  right: 0;
}


.bg-nav-responsive-blue {
  background-color:  #1229c1;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05), 2px 2px 5px rgba(0,0,0,0.06);
}

.bg-nav-responsive-white {
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05), 2px 2px 5px rgba(0,0,0,0.06);
}